API_GATEWAY_HOST=0.0.0.0
API_GATEWAY_PORT=3000
GATEWAY_DB_HOST=127.0.0.1
GATEWAY_DB_PORT=5435
GATEWAY_DB_USERNAME=study_tasks
GATEWAY_DB_PASSWORD=study_tasks
GATEWAY_DB_NAME=study_gateway
GATEWAY_DB_SYNCHRONIZE=true
GATEWAY_DB_LOGGING=false
